@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans&display=swap');

* {
    margin: 0px;
    font-family: 'Jost', sans-serif;
}

header {
    background-color: #FF7F99;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
}

.logo {
    font-family: 'Alumni Sans', sans-serif;
    color: #FFFFFF;
    font-size: 48px;
    align-items: baseline;
}

.logo-studio {
    font-family: 'Alumni Sans', sans-serif;
    color: #FFCA41;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 24px;
    margin-left: 55px;
}

nav a:hover {
    color: #FFCA41;
}

.button-contact {
    color: white;
    font-size: 24px;
    font-weight: 300;
    background-color: #FF9593;
    border: 1px solid #FFCA41;
    border-radius: 35px;
    padding: 10px 40px;
    margin-left: 45px;
}

.button-contact:hover {
    background-color: #FFCA41;
}

.link-contact {
    margin: 0;
}

.halo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
    padding: 2.5em 1em;
    margin-left: auto;
    margin-right: auto;
}

.bg-div {
    background-color: #FF7F99;
    border-radius: 272px 0px 272px 272px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 37px 150px;
}

img.coders {
    height: 454px;                     
}

.main-text {
    width: 514px;
    padding-bottom: 40px;
}

h1 {
    font-size: 96px;
    line-height: 70px;
    font-weight: 400;
    color: #CD5C6E;
}

h3 {
    font-size: 26px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 25px;
}

button.action {
    background-color: #FFCA41;
    border-radius: 25px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    padding: 15px 25px;
}

footer {
    background-color: #FF7F99;
    display: flex;
}

footer img {
    height: 277px;
}

img.icon {
    height: 42px;
    border-radius: 6px;
}

ul {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 45px 45px 90px 45px;
}

ul li:first-of-type {
    padding-left: 20px;
}

a.card span:nth-child(2) {
    color: white;
    font-size: 24px;
    margin-top: -20px;
    
}

a.card span:nth-child(3) {
    font-size: 18px;
    margin-bottom: 10px;
    color: black;
}

a.card {
    display: flex;
    flex-direction: column;
    margin-left: -20px;
    text-decoration: none;
}

@media screen and (max-width: 1300px) {
    header {
        padding: 0 1em;
    }

    .bg-div {
        display: none;
    }

    .halo {
        padding: 5em;
        justify-content: center;
        text-align: center;
    }

    ul {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:375px) {
    div.main-text {
        width: 400px;
    }

    div.halo {
        padding: 0em;
        justify-content: center;
        text-align: center;
    }
}

/* ************* FORM ************** */

.link-index {
    text-decoration: none;
    color: white;
}

body {
    font-family: 'Jost', sans-serif;
}

.main-form {
    background-color: #ffffff;
    
    color: black;
}

.title-form, .p-form {
    text-align: center;
}

.title-form {
    border-top: 10px solid #FFCA41;
    font-size: 70px;
    padding-top: 20px;
}

.p-form {
    font-size: 25px;
}

form {
    width: 70%;
    height: 70%;
    margin: 0 auto;
    padding: 20px 100px;
}

fieldset {
    margin: auto;
    border: none;
    border-bottom: 3px solid #FF9593;
}

fieldset:last-of-type {
    border: none;
}

.fs1 {
    border-top: 3px solid #FF9593;
}

.fs1, .fs2 {
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    font-weight: bold;
}

input, textarea {
    background-color: #FF9593;
    border: 1px solid #FFCA41;
    color: #000000;
}