@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@400;700&family=Jost:wght@200;400&display=swap');

*{
    margin: 0px;
    font-family: 'Jost', sans-serif;
}
/*header*/
header{
    background-color: #FF7F99;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
}
.logo{
    font-family: 'Alumni Sans', sans-serif;
    color: #FFFFFF;
    font-size: 48px;
    align-items: baseline;
}

.logo-studio{
    font-family: 'Alumni Sans', sans-serif;
    color: #FFCA41;
}
nav a{
    text-decoration: none;
    color: white;
}
nav a {
    font-weight: 200;
    font-size: 24px;
    margin-left: 55px;
}
nav a:hover{
    color: #FFCA41;
}
.link-button{
    margin: 0;
}
.button-contact{
    color: white;
    font-size: 24px;
    font-weight: 200;
    letter-spacing: em;
    background-color: #FF9593;
    border: 1px solid #FFCA41;
    border-radius: 35px;
    padding: 8px 40px;
    margin-left: 45px;
}
.button-contact:hover{
    background-color: #FFCA41;
}
/*main page flexbox with 2 divs*/
.hero-main{
    display: flex; 
    width: 85%;
    align-items: center;
    margin: 0 auto;
    justify-content: space-evenly;
}
/*part left*/
.bg-div{
    background-color: #FF7F99;
    border-radius: 272px 0px 272px 272px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    width: 544px;
    height: 544px;
}
img.coders{
    height: 454px;
    margin: 150px;                     
}
/*part right*/
.main-text{
    width: 520px;
    margin-left: 80px;
    padding-bottom: 60px;
}
h1{
    font-size: 96px;
    line-height: 70px;
    font-weight: 400;
    color: #CD5C6E;
}
h3{
    font-size: 26px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 25px;
}
button.action-main, button.action{
    background-color: #FFCA41;
    border-radius: 35px;
    color: white;
    font-size: 24px;
    font-weight: 400;
    border: none;
    padding: 15px 40px;
}
/*personal page flexbox with 2 divs*/
.hero{
    display: flex;
    width: 85%;
    margin: 0 auto;
    justify-content: space-evenly;
}
/*part left*/
.box-left{
    position: relative;
    box-sizing: border-box;
}
.girls{
    position: absolute;
    height: 615px; 
    top: 2px;
    left: -34px;          
}
.bg{
    background-color: #FF7F99;
    border-radius: 272px 0px 272px 272px;
    width: 544px;
    height: 544px;
    margin: 40px 0;
}
/*part right*/
.main-text2{
    padding-top: 80px;
    width: 520px;
    margin-left: 80px;
}
.text{
    font-size: 20px;
    text-align: justify;
}
.contacts{
    margin-top: 40px;
    display: flex;
    align-items: flex-start;
}
button.action{
    padding: 10px 40px;
}

/*footer*/
footer{
    background-color: #FF7F99;
    display: flex;
}
footer img{
    height: 277px;
}
img.icon{
    height: 49px;
    width: 49px;
    border-radius: 6px;
    margin-right: 20px;
}
ul{
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 45px 45px 90px 45px;
}
ul li:first-of-type{
    padding-left: 20px;
}
a.card span:nth-child(2){
    color: white;
    font-size: 24px;
    font-weight: 300;
    margin-top: -20px;
}
a.card span:nth-child(3){
    font-size: 18px;
    margin-bottom: 10px;
    color: black;
}
a.card{
    display: flex;
    flex-direction: column;
    margin-left: -20px;
    text-decoration: none;
}
/*for small laptops and big tablets*/
@media screen and (max-width: 1201px) {
    header{
        padding: 0 1em;
    }
    .bg-div{
        display: none;
    }
    .hero-main{
        padding: 5em;
        justify-content: space-evenly;
        text-align: center;
    }
    .main-text{
        margin-left: 0px;
    }
    ul {
        flex-wrap: wrap;
    }
    .hero{
        align-items: unset;
    }
    .bg{
        width: 250px;
        height: 250px;
        border-radius: 125px 0 125px 125px;
        margin: 0px;
    }
    .girls{
        height: 277px; 
        top: -13px;
        left: -13px;          
    }
    .main-text2{
        padding: 0;
    }
    .hero{
        padding: 40px;
        justify-content: center;
    }
}
/* in process...
@media screen and (max-width: 576px) {
    div.hero-main{
        padding: 80px 0;
        justify-content: center;
        text-align: center;
    }
}*/

/* ****** Contact Form Style ******* */

.link-index {
    text-decoration: none;
}

.main-form {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    padding-bottom: 2rem;
}

.title-form, .p-form {
    margin: 1rem auto;
    text-align: center;
}

.title-form {
    font-size: 3.75rem;
}

.p-form {
    font-size: 1.5rem;
    margin-block-start: 0;
}

form {
    background-color: rgba(255, 202, 65, 0.8);
    /*width: 50vw;*/
    margin: 0 auto;
    padding: 2.5rem;
    border-radius: 4px;
}

fieldset {
    border: none;
    border-bottom: 2px solid white;
    display: flex;
    flex-direction: column;
}

fieldset:last-of-type {
    border-bottom: none;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input, textarea, select {
    margin: 0.625rem 0 0 0;
    width: 100%;
    border-radius: 10px;.
}

input, select {
    height: 1.875rem;
}

input, textarea {
    background-color: #FF9593;
    opacity: 0.9;
    border: 1px solid white;
}

#data-treatment {
    width: unset;
    margin: 0 0.5em 0 0;
}

.buttons {
    display: flex;
    width: 100%;
}

#reset, #submit {
    margin: 1em auto;
    background-color: #FF7F99;
    color: white;
    border: none;
    border-radius: 20px;
    width: 30%;
    height: 35px;
    font-size: 1.4vw;
    font-weight: 500;
    cursor: pointer;
}

.btn:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

@media screen and (max-width: 600px)
{
    #reset, #submit {
    font-size: 1rem;
    }
}

@media screen and (max-width: 992px)
{
    #reset, #submit {
    font-size: 1rem;
    }
}