@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
}

header {
    background-color: #ff7f99;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}

.logo-purple {
    font-family: 'Alumni Sans', sans-serif;
    color: #ffffff;
    font-size: 48px;
}

.logo-studio {
    font-family: 'Alumni Sans', sans-serif;
    color: #ffca41;
}

a {
    text-decoration: none;
    color: white;
}

nav a {
    font-size: 24px;
    margin-left: 55px;
}

.button-contact {
    color: white;
    font-size: 24px;
    background-color: rgba(255, 202, 65, 0.35);
    border: 1px solid #ffca41;
    border-radius: 35px;
    padding: 10px 20px;
    margin-left: 55px;
}